$blue-lighter: RGBA(10, 140, 204, 0.12);
$blue-light: #0c8bcb;
$blue-primary: #0a8ccc;
$blue-dark: #003b71;

$black-light: RGBA(0, 0, 0, 0.76);
$black-primary: RGBA(0, 0, 0, 0.87);

$gray-light: #8a8a8a;
$gray-primary: #919191;

$yellow-primary: #f5a623;

$white-primary: #ffffff;
